@mixin center($center){
    display: flex!important;
    @if $center {
        justify-content: center;
    }@else{
        justify-content: space-around;
    }
    align-items: center;
};

@mixin card(){
    border-radius: $b-radius;
    box-shadow: 0 4px 5px 0 rgba($color: #000000, $alpha: 0.25);
}

@mixin text(){
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.1rem;
}