#modal-header{
    display: block;

    @media screen and (orientation: landscape){
        display: none;
    }
}

.video-container{
    @media screen and (orientation: landscape) {
        --background: black;
    }

    & .responsive-video{
        width: 100vw;
        height: calc(100vh - 60px - 50vh);
    
        @media screen and (orientation: landscape) {
            height: 100vh;
        }
    }

    & .sorry{
        @include text();
        text-align: center;
    }

}
